
{% extends 'base.html' %}

{% block title %}{{title}} - Проверка отзывов 2GIS{% endblock %}
{% block header %}{{title}} - Проверка отзывов 2GIS{% endblock %}


{% block content %}


        {% if score.trusted %}
            {% set divclass = "trusted-companies" %}
            {% set pclass = "green" %}
        {% else %}
            {% set divclass = "suspicious-companies" %}
            {% set pclass = "red" %}
        {% endif %}

        <div id="result-container">
            <div class="companyinfo">
                <div class="{{divclass}}">
                    <p><a href="https://2gis.ru/af2gis/firm/{{c.object_id}}"><b>{{c.title}}</b></a></p>
                    <p>Оценка 2GIS: <b>{{c.branch_rating_2gis}}</b> ({{c.branch_count_2gis}} отзывов)</p>
                    <p>{{c.city}}, {{c.address}}</p>

                    {% if score.trusted %}
                        <p class="green">Аномалий в отзывах не обнаружено</p>
                    {% else %}
                        <p class="red"><b>В отзывах есть статистические аномалии</b></p>
                        <p class="red">
                            <a href="{{ request.url_for('md_page', page='anomaly').path }}">
                            <b>Аномалии:</b> {{' '.join(c.detections)}}
                        </a></p>
                        <p><a href="{{ request.url_for('explain', oid=c.object_id).path }}">Журнал расчета</a></p>
                    {% endif %}
                    <p>Дата отчета: {{score.date}} </p>
                    

                </div> <!-- company info div -->

                <div class="score {{divclass}}">
                    <p>ID: {{c.object_id}}</p>
                    {% if score.detections %}
                    <p>Detections:</p>
                    <ul>
                        {% for d in score.detections %}
                        <li>{{d}}</li>
                        {% endfor %}
                    </ul>

                    {% endif %}
                    {% for key, value in score.items() %}
                        {% if key != "param_fp" and key != "trusted" and key != "date" and key != "detections" %}
                            <p>{{key}}: {{value}}</p>
                        {% endif %}
                    {% endfor%}    
                </div> <!-- score div -->
            </div> <!-- companyinfo -->

            {% if not report_reliable%}
            <div>
                <b>Внимание!</b> Возможно это туристический/культурный объект или достопримечательность.<br>
                Для таких объектов обычные критерии оценки не подходят и могут давать ложные срабатывания.
            </div>
            {% endif %}


            {% if relations%}
            <h3>Значимые связи от {{title}}</h3>
            <table>
                <thead>
                    <th>Компания</th>
                    <th>Город</th>
                    <th>hits</th>
                    <th>median</th>
                    <th>ratings</th>
                </thead>
                <tbody>
                    
                    {% for rel in relations %}

                        <tr>

                            {% if rel.hits >= settings.risk_hit_th %}
                                {% set hit_class = 'red' %}
                            {% else %}
                                {% set hit_class = '' %}
                            {% endif %}


                            {% if rel.arating >= settings.risk_highrate_th and rel.brating >= settings.risk_highrate_th %}
                                {% set rate_class = 'red' %}
                            {% else %}
                                {% set rate_class = '' %}
                            {% endif %}

                            <td>{% if rel.risk %}<span class="company-tag suspicious-tag">Подозрительная связь</span>{% endif%}<a href="/report/{{rel.oid}}"><b>{{rel.title}}</b></a>
                            {% if rel.trusted is not none %}
                                {% if rel.trusted %}
                                    <span class="company-tag trusted-tag">Проверено</span>
                                {% else %}
                                    <span class="company-tag suspicious-tag">Подозрительная</span>
                                {% endif %}
                            {% endif %}
                            </td>
                            <td>{{rel.town}}</td>
                            <td class="{{hit_class}}">{{rel.hits}}</td>
                            <td>{{rel.median}}</td>
                            <td class="{{rate_class}}">
                                {{rel.arating | round(1) }} {{rel.brating | round(1)}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {%else%}
            <div>
                <b>Нет значимых связей</b>
            </div>
                {%endif%}

            {% if score.param_fp %}
            <div>
                Параметры расчета
                {% if settings.param_fp() != score.param_fp %}
                (устарели, советуем пересчитать)
                {% endif %}:
                <p class="score">{{score.param_fp}}</p>
            </div>
            {% endif %}

            <div id="actionbox">
                <p>Можно <a href="javascript:void(0)" class="toggle" id="toggle-link">пересчитать</a> (на случай если в алгоритме поменяли параметры со времени расчета).</p>

                <form method="POST" action="/submit">
                    <div class="flexdiv" id="recalc-box">
                        {%if settings.turnstile_sitekey %}
                        {% set btn_disabled = "disabled" %}

                        <div class="cf-turnstile" 
                            data-sitekey="{{ settings.turnstile_sitekey }}"
                            data-callback="turnstileCallback">
                        </div>
                        {% endif %}
                        <div>
                            <input type="hidden" name="force" value="true">
                            <input type="hidden" name="oid" value="{{oid}}">
                            <button type="submit" id="submit_btn" {{btn_disabled}}>Пересчитать</button>
                        </div>
                    </div>
                </form>
            </div> <!-- actionbox -->

        </div>

{% endblock %}
